snippet /h "Fancy comment block header" b
/*
 * ${1/./=/g}
 * $1
 * ${1/./=/g}
 */
endsnippet

snippet log "console.log" b
console.log($1);$2
endsnippet

# jQuery things

snippet click "jQuery click" b
$("$1").click(function(e) {
	$2
});
endsnippet

snippet $ "jQuery select" b
$("$1")$2
endsnippet

snippet on "jQuery on" b
$("$1").on("$2", function(e) {
	$3
});
endsnippet
